@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

.btn-primary {
  color: white !important;
  background-color: #e30613 !important;
  background-color: #e30613 !important;
  border-color: #e30613 !important;
}

.border-primary {
  border-color: #e30613 !important;
}

.bg-primary {
  background-color: #e30613 !important;
}

.text-primary {
  color: #e30613 !important;
}

.bar-left-banner {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.bar-right-banner {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -25px !important;
}

.swiper-pagination-bullet-active {
  background-color: #e30613 !important;
  width: 25px !important;
  border-radius: 4px !important;
}

.swiper-button-disabled {
  opacity: 30% !important;
}

progress::-webkit-progress-bar {
  background-color: #ccc;
  /* Set the background color of the progress bar */
}

progress::-webkit-progress-value {
  background-color: #e30613;
  /* Set the color of the filled progress */
}

progress::-moz-progress-bar {
  background-color: #e30613;

}

.review-progress::-webkit-progress-bar {
  background-color: #ccc;
  /* Set the background color of the progress bar */
}

.review-progress::-webkit-progress-value {
  background-color: white;
  /* Set the color of the filled progress */
}

.review-progress::-moz-progress-bar {
  background-color: white;

}

::-webkit-scrollbar {
  width: 4px;
  border-radius: 5px;
}

.bg-red {
  background-color: red;
}

.bg-silver {
  background-color: rgba(192, 192, 192, 0.89);
  color: #e30613 !important;
}

.bg-green {
  background-color: green;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #e30613;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.image-container.zoomed img {
  transform-origin: top left;
}

.btn-pending {
  background-color: #d39f11 !important;
  color: #ffffff;
}

.btn-processing {
  background-color: #e30613 !important;
  color: white;
}

.btn-shipped {
  background-color: greenyellow !important;
  color: black;
}

.btn-delivered {
  background-color: green !important;
  color: white;
}

.steps .step-primary+.step-primary:before,
.steps .step-primary:after {
  background-color: #e30613 !important;
}

.container {
  max-width: 1350px !important;
}

.btm-nav {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}


.steps-vertical .step{
  min-height: 45px !important;
}
.btn-danger{
  background-color: red !important;
  color: white !important;
  border-color: red !important;
}

.banner-image{
  width: 100%;
  height: 500px;
  border-radius: 20px;
}